.color-orange {
  color: #ff9800;
}

.horizontal-rule {
  margin: 40px 0;
}

.img {
  margin-left: 40px;
}

.left-orange-border {
  border-left: 3px solid #ff9800;
}

.margin-left {
  margin-left: 15px;
}
