<ng-container *transloco="let t; read: 'header'">
  <form class="flex-column" [formGroup]="formGroup" ngxsForm="header.headerForm">
    <mat-form-field>
      <mat-label>{{ t('docTitle') }}</mat-label>
      <input matInput formControlName="documentTitle" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('organization') }}</mat-label>
      <input matInput formControlName="organization" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('labCourse') }}</mat-label>
      <input matInput formControlName="labCourse" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('name') }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('place') }}</mat-label>
      <input matInput formControlName="place" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('assistant') }}</mat-label>
      <input matInput formControlName="assistant" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('preparation') }}</mat-label>
      <input matInput formControlName="preparation" />
    </mat-form-field>
  </form>
</ng-container>
