<mat-card class="flex-column onepager-mat-card unselectable">
    <mat-form-field>
    <mat-label>{{strings.header.docTitle}}</mat-label>
        <input matInput [(ngModel)]="header.documentTitle"/>
    </mat-form-field>
    <mat-form-field>
    <mat-label>{{strings.header.organisation}}</mat-label>
        <input matInput [(ngModel)]="header.organisation"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{strings.header.labCourse}}</mat-label>
        <input matInput [(ngModel)]="header.labCourse"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{strings.header.name}}</mat-label>
        <input matInput [(ngModel)]="header.name"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{strings.header.place}}</mat-label>
        <input matInput [(ngModel)]="header.place"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{strings.header.assistant}}</mat-label>
        <input matInput [(ngModel)]="header.assistant"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{strings.header.preparation}}</mat-label>
        <input matInput [(ngModel)]="header.preparation"/>
    </mat-form-field>
</mat-card>
