<div class="border-margin-padding-rounded flex-column">
    <mat-form-field>
    <mat-label>Dokument Titel:</mat-label>
        <input matInput [(ngModel)]="header.documentTitle" placeholder=""/>
    </mat-form-field>
    <mat-form-field>    
    <mat-label>Organisation:</mat-label>
        <input matInput [(ngModel)]="header.organisation" placeholder=""/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Lab/Kurs:</mat-label>
        <input matInput [(ngModel)]="header.labCourse" placeholder=""/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput [(ngModel)]="header.name" placeholder=""/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Platz:</mat-label>
        <input matInput [(ngModel)]="header.place" placeholder=""/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Assistent/in:</mat-label>
        <input matInput [(ngModel)]="header.assistant" placeholder=""/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Herzustellendes Präparat:</mat-label>
        <input matInput [(ngModel)]="header.preparation" placeholder=""/>
    </mat-form-field>
</div>
