<mat-card class="flex-column onepager-mat-card">
    <mat-form-field>
    <mat-label>Dokument Titel:</mat-label>
        <input matInput [(ngModel)]="globals.header.documentTitle"/>
    </mat-form-field>
    <mat-form-field>    
    <mat-label>Organisation:</mat-label>
        <input matInput [(ngModel)]="globals.header.organisation"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Lab/Kurs:</mat-label>
        <input matInput [(ngModel)]="globals.header.labCourse"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput [(ngModel)]="globals.header.name"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Platz:</mat-label>
        <input matInput [(ngModel)]="globals.header.place"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Assistent/in:</mat-label>
        <input matInput [(ngModel)]="globals.header.assistant"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Herzustellendes Präparat:</mat-label>
        <input matInput [(ngModel)]="globals.header.preparation"/>
    </mat-form-field>
</mat-card>
