<ng-container *transloco="let t; read: 'menu'">
  <button class="hamburger icon" mat-fab [matMenuTriggerFor]="menu">
    <mat-icon class="svg" svgIcon="cb2-menu"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="newDocument()">{{ t('newDocument') }}</button>
    <button mat-menu-item (click)="loadFile()">{{ t('loadFile') }}</button>
    <button mat-menu-item (click)="exportCB2File()">
      {{ t('saveFile') }}
    </button>
    <button mat-menu-item (click)="exportPDFFile()">
      {{ t('exportPDF') }}
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openSettingsDialog()">{{ t('settings') }}</button>
    <button mat-menu-item (click)="openManualDialog()">{{ t('quickStart') }}</button>
  </mat-menu>
</ng-container>
