<mat-sidenav-container>
  <mat-sidenav class="fixed" mode="side" opened disableClose>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <span class="material-icons icon">menu</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Neue Betriebsanweisung</button>
      <button mat-menu-item (click)="loadFile()">Bestehende Betriebsanweisung öffnen</button>
      <button mat-menu-item (click)="saveFile()">Betriebsanweisung speichern</button>
      <button mat-menu-item (click)="exportPDF()">Als PDF exportieren</button>
    </mat-menu>
    <br/>
    <button
        mat-icon-button
        (click)="scroll(headerTarget)">
      <img class="icon" src="assets/icons/Kolben.svg">
    </button>
    <br/>
    <button
        mat-icon-button
        (click)="scroll(search)">
      <img class="icon" src="assets/icons/Lupe.svg">
    </button>
    <br/>
    <button
        mat-icon-button
        (click)="scroll(securitythings)">
      <img class="icon" src="assets/icons/Puzzel.svg">
    </button>
    <br/>
    <button
        mat-icon-button
        (click)="scroll(preview)">
      <img class="icon" src="assets/icons/Pfeil.svg">
    </button>
    <br/>
    <mat-slide-toggle (change)="onDarkModeSwitched($event)" color="primary" matTooltip="Auf dunkles Thema umschalten">
      <span class="material-icons">invert_colors</span>
    </mat-slide-toggle>
  </mat-sidenav>
  <mat-sidenav-content class="smooth-scroll">
    <div #headerTarget>
      <app-header></app-header>
    </div>
    <div #search>
      <app-search></app-search>
    </div>
    <div #securitythings>
      <app-list-input-specifcations
          [title]="descriptions.humanAndEnvironmentDanger"
          [elements]="globals.humanAndEnvironmentDanger"></app-list-input-specifcations>
      <app-list-input-specifcations
          [title]="descriptions.rulesOfConduct"
          [elements]="globals.rulesOfConduct"></app-list-input-specifcations>
      <app-list-input-specifcations
          [title]="descriptions.inCaseOfDanger"
          [elements]="globals.inCaseOfDanger"></app-list-input-specifcations>
      <app-list-input-specifcations
          [title]="descriptions.disposal"
          [elements]="globals.disposal"></app-list-input-specifcations>
    </div>
    <div #preview>
      <app-preview></app-preview>
    </div>
    <app-print-preview class="print"></app-print-preview>
  </mat-sidenav-content>
</mat-sidenav-container>
