<mat-sidenav-container autosize>
  <mat-sidenav class="fixed unselectable" mode="side" opened disableClose>
    <button class="hamburger icon" mat-icon-button [matMenuTriggerFor]="menu">
      <img src="assets/icons/menu.svg" />
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="newDocument()">{{ strings.menu.newDocument }}</button>
      <button mat-menu-item (click)="loadFile()">{{ strings.menu.loadFile }}</button>
      <button mat-menu-item (click)="saveFile('cb2')">{{ strings.menu.saveFile }}</button>
      <button mat-menu-item (click)="exportPDF()">{{ strings.menu.exportPDF }}</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="openManualDialog()">{{ strings.menu.quickStart }}</button>
    </mat-menu>
    <br />
    <button class="icon" mat-icon-button (click)="scroll(headerTarget)">
      <img class="svg" src="assets/icons/flask.svg" />
    </button>
    <br />
    <button class="icon" mat-icon-button (click)="scroll(search)">
      <img class="svg" src="assets/icons/magnifier.svg" />
    </button>
    <br />
    <button class="icon" mat-icon-button (click)="scroll(securitythings)">
      <img class="svg" src="assets/icons/puzzle.svg" />
    </button>
    <br />
    <button class="icon" mat-icon-button (click)="scroll(preview)">
      <img class="svg" src="assets/icons/arrow.svg" />
    </button>
    <br />
    <mat-slide-toggle
      class="toggle"
      (change)="onDarkModeSwitched($event)"
      [checked]="config.global.darkTheme"
      color="primary"
      [matTooltip]="strings.menu.darkModeSwitchInfo"
    >
    </mat-slide-toggle>
  </mat-sidenav>
  <mat-sidenav-content class="smooth-scroll unselectable">
    <div #headerTarget>
      <app-header></app-header>
    </div>
    <div #search>
      <app-search></app-search>
    </div>
    <div #securitythings>
      <app-modifiable-string-list
        [title]="strings.descriptions.humanAndEnvironmentDanger"
        [elements]="globals.humanAndEnvironmentDangerObservable"
        (elementEmitter)="globals.humanAndEnvironmentDangerSubject.next($event)"
      ></app-modifiable-string-list>
      <app-modifiable-string-list
        [title]="strings.descriptions.rulesOfConduct"
        [elements]="globals.rulesOfConductObservable"
        (elementEmitter)="globals.rulesOfConductSubject.next($event)"
      ></app-modifiable-string-list>
      <app-modifiable-string-list
        [title]="strings.descriptions.inCaseOfDanger"
        [elements]="globals.inCaseOfDangerObservable"
        (elementEmitter)="globals.inCaseOfDangerSubject.next($event)"
      ></app-modifiable-string-list>
      <app-modifiable-string-list
        [title]="strings.descriptions.disposal"
        [elements]="globals.disposalObservable"
        (elementEmitter)="globals.disposalSubject.next($event)"
      ></app-modifiable-string-list>
    </div>
    <div #preview>
      <app-preview></app-preview>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
