<ng-container *transloco="let t; read: 'descriptions'">
  <app-modifiable-string-list
    ngxsIdentifier="human_and_environment_danger"
    [title]="t('humanAndEnvironmentDanger')"
    [formGroup$]="initFormGroup('human_and_environment_danger')"
    (addEmpty)="add(HumanAndEnvironmentDanger.AddLine)"
    (remove)="remove(HumanAndEnvironmentDanger.RemoveSentence, $event)"
    (rearrange)="rearrange(HumanAndEnvironmentDanger.RearrangeSentences, $event)"
  >
  </app-modifiable-string-list>

  <app-modifiable-string-list
    ngxsIdentifier="rules_of_conduct_state"
    [title]="t('rulesOfConduct')"
    [formGroup$]="initFormGroup('rules_of_conduct_state')"
    (addEmpty)="add(RulesOfConduct.AddLine)"
    (remove)="remove(RulesOfConduct.RemoveSentence, $event)"
    (rearrange)="rearrange(RulesOfConduct.RearrangeSentences, $event)"
  >
  </app-modifiable-string-list>

  <app-modifiable-string-list
    ngxsIdentifier="in_case_of_danger"
    [title]="t('inCaseOfDanger')"
    [formGroup$]="initFormGroup('in_case_of_danger')"
    (addEmpty)="add(InCaseOfDanger.AddLine)"
    (remove)="remove(InCaseOfDanger.RemoveSentence, $event)"
    (rearrange)="rearrange(InCaseOfDanger.RearrangeSentences, $event)"
  >
  </app-modifiable-string-list>

  <app-modifiable-string-list
    ngxsIdentifier="disposal"
    [title]="t('disposal')"
    [formGroup$]="initFormGroup('disposal')"
    (addEmpty)="add(Disposal.AddLine)"
    (remove)="remove(Disposal.RemoveSentence, $event)"
    (rearrange)="rearrange(Disposal.RearrangeSentences, $event)"
  >
  </app-modifiable-string-list>
</ng-container>
