.grid {
  display: grid;
  grid-template-columns: 690px;
}

.mini-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.symbols-grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 20px;
}

.center {
  display: grid;
  place-content: center;
}

.symbol {
  max-width: 100%;
  height: auto;
}

.grayscale {
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0%);
  }
}

.flex {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

mat-form-field {
  padding-left: 8px;
  padding-right: 2px;
}

.phrases-form-field {
  width: 420px;
}

.padder {
  height: 10px;
}
