.grid {
  display: grid;
  grid-template-columns: 690px;
}

.mini-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.flex {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

mat-form-field {
  padding-left: 8px;
  padding-right: 2px;
}

.phrases-form-field {
  width: 420px;
}
