.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

mat-form-field {
  padding-left: 8px;
  padding-right: 2px;
}

mat-card {
  padding: 7px 80px;
  margin: 12px;
}

