<ng-container *transloco="let t">
  <mat-form-field class="width-100">
    <textarea
      class="width-100"
      [formControl]="formControl"
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
    >
    </textarea>
    <button
      matSuffix
      mat-icon-button
      (mouseenter)="hover = true"
      (mouseleave)="hover = false"
      (click)="removeEmitter.emit($event)"
      [matTooltip]="t('base.removeElement')"
      matTooltipPosition="left"
    >
      <mat-icon *ngIf="!hover">remove_circle_outline</mat-icon>
      <mat-icon color="primary" *ngIf="hover">remove_circle</mat-icon>
    </button>
    <button mat-icon-button [matTooltip]="t('substance.dragAndDrop')" matSuffix cdkDragHandle>
      <mat-icon>drag_handle</mat-icon>
    </button>
  </mat-form-field>
</ng-container>
