<button class="hamburger icon" mat-icon-button [matMenuTriggerFor]="menu">
  <img src="assets/icons/menu.svg" />
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="newDocument()">{{ strings.menu.newDocument }}</button>
  <button mat-menu-item (click)="loadFile()">{{ strings.menu.loadFile }}</button>
  <button mat-menu-item (click)="exportCB2File()">
    {{ strings.menu.saveFile }}
  </button>
  <button mat-menu-item (click)="exportPDFFile()">
    {{ strings.menu.exportPDF }}
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="openSettingsDialog()">{{ strings.menu.settings }}</button>
  <button mat-menu-item (click)="openManualDialog()">{{ strings.menu.quickStart }}</button>
</mat-menu>
