@use '@angular/material' as mat;
@import '../../../../styles/color';

.viewport {
  max-width: 1000px;
  min-width: 600px;
  max-height: 850px;
  min-height: 250px;
}

.empty {
  color: mat.get-color-from-palette($ang-CaBr2-warn);
  margin-top: 20px;
}
