<h1 mat-dialog-title>
  <mat-icon *ngIf="data.iconName">{{ data.iconName }}</mat-icon>
  <div class="title">{{ data.title }}</div>
</h1>
<div mat-dialog-content>
  <p *ngFor="let line of data.content">{{ line }}</p>
  <ul *ngIf="data.listItems">
    <li *ngFor="let item of data.listItems">{{ item }}</li>
  </ul>
  <div *ngIf="data.footerText">
    <p *ngFor="let line of data.footerText">{{ line }}</p>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <ng-container *transloco="let t; read: 'base'">
    <button mat-button *ngIf="!data?.disableCancel" (click)="dialogRef.close(false)">{{ t('cancel') }}</button>
    <button mat-button (click)="dialogRef.close(true)">{{ t('ok') }}</button>
  </ng-container>
</div>
