@import '~@angular/material/theming';

ul {
  margin-left: 20px;
  padding: 0;
}

.width-100 {
  width: 100%;
}

.cdk-drag-handle {
  &:hover {
    cursor: grab;
  }
}

.cdk-drag-preview {
  @include mat-elevation(2);
}
