<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>{{ stylesheet }}</style>
</head>
<body>
<table>
  <tr>
    <td colspan="2" class="top">
      <p class="list-heading">Gefahren für Mensch und Umwelt, die von den Ausgangsmaterialien bzw. dem(n) Produkt ausgehen, soweit sie nicht durch genannte Angaben abgedeckt sind (z.B. krebserregend, fruchtschädigend, hautresorptiv):{{! document.descriptions.humanAndEnvironmentDanger }}</p>
      <ul>
          {{ #each document.humanAndEnvironmentDanger }}
          <li>{{ this }}</li>
        {{ /each }}
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="top">
      <p class="list-heading">Schutzmaßnahmen und Verhaltensregeln:{{! document.descriptions.rulesOfConduct }}</p>
      <ul>
          {{ #each document.rulesOfConduct }}
          <li>{{ this }}</li>
        {{ /each }}
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="top">
      <p class="list-heading">Verhalten im Gefahrenfall, Erste-Hilfe-Maßnahmen (gegebenfalls Kopie der entsprechenden Literaturstelle beiheften):{{! document.descriptions.inCaseOfDanger }}</p>
      <ul>
          {{ #each document.inCaseOfDanger }}
          <li>{{ this }}</li>
        {{ /each }}
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="top">
      <p class="list-heading">Entsorgung:{{! document.descriptions.disposal }}</p>
      <ul>
          {{ #each document.disposal }}
          <li>{{ this }}</li>
        {{ /each }}
      </ul>
    </td>
  </tr>
  <tr>
    <td class="top height-2cm td-signature">
      Hiermit verpflichte ich mich, den Versuch gemäß den in dieser Betriebsanweisung aufgeführten Sicherheitsvorschriften durchzuführen.{{! document.descriptions.signStudent }}
      <div class="signature-location-date">
        <span class="signature">Unterschrift</span>
        <span class="location-date">(Ort, Datum)</span>
      </div>
    </td>
    <td class="top height-2cm td-signature">
      Präparat zur Synthese mit den auf der Vorderseite berechneten Chemikalienmengen freigegeben.{{! document.descriptions.signatureAssistant }}
      <div class="signature-location-date">
        <span class="signature">Unterschrift</span>
        <span class="location-date">(Ort, Datum)</span>
      </div>
    </td>
  </tr>
</table>
</body>
</html>
