html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

table {
  width: 100%;
  height: 100%;
}

tr th {
  text-align: center;
  padding: 8px;
  height: 8mm;
  font-size: 20px;
}

tr td {
  text-align: left;
  padding: 8px;
}

li {
  padding: 5px 0;
}

.full-height {
  height: unset !important;
}

.top {
  vertical-align: top;
}

.center {
  text-align: center;
}

.min-width-5cm {
  min-width: 4.5cm;
}

.min-width-2cm {
  min-width: 2cm;
}

.min-width-ghs-symbols {
  min-width: 2.9cm;
}

.height-2cm {
  height: 3.7cm;
  min-height: 3.7cm;
  max-height: 3.7cm;
}

.height-5cm9 {
  max-height: 5.9cm;
}

.modified {
  font-style: italic;
}

.ghs {
  width: 25pt;
  height: 25pt;
}

.phrase-numbers {
  max-width: 4cm;
  font-size: x-small;
}

.value-with-unit {
  font-size: small;
}

.phrases {
  font-size: small;
}

.signalword {
  font-size: small;
  margin-top: 0;
}

.list-heading {
  font-weight: bolder;
  padding: 10px 0;
}

.td-signature {
  position: relative;
}

.signature-location-date {
  position: absolute;
  bottom: 7px;
  right: 15px;
  z-index: 10;
  text-align: right;
  vertical-align: bottom;
  border-top: 1px solid #000;
}

.signature-location-date span {
  width: inherit;
  font-size: small;
}

.signature-location-date .signature {
  padding-right: auto;
  padding-left: 10px;
}

.signature-location-date .location-date {
  padding-left: 2cm;
  padding-right: 10px;
  text-indent: 5px;
  margin-left: 10px;
}
