@use '@angular/material' as mat;

// TODO(#1715) check if font creation saves us anything
// @use "@fontsource/roboto/scss/mixins" as Roboto;
// @use "@fontsource/material-icons/scss/mixins" as MatIcons;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ang-CaBr2-primary: mat.define-palette(mat.$orange-palette);
$ang-CaBr2-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);
// $ang-CaBr2-primary: #F39100;
// $ang-CaBr2-accent: #0061f3;

// The warn palette is optional (defaults to red).
$ang-CaBr2-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ang-CaBr2-theme: mat.define-light-theme(
  (
    color: (
      primary: $ang-CaBr2-primary,
      accent: $ang-CaBr2-accent,
      warn: $ang-CaBr2-warn,
    ),
  )
);

$ang-CaBr2-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $ang-CaBr2-primary,
      accent: $ang-CaBr2-accent,
      warn: $ang-CaBr2-warn,
    ),
  )
);

@include mat.all-component-themes($ang-CaBr2-theme);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.theme-dark {
  @include mat.all-component-colors($ang-CaBr2-theme-dark);
  .mat-mdc-snack-bar-container {
    &.alert-info {
      .mdc-snackbar__surface {
        background: cornflowerblue;
      }
    }

    &.alert-success {
      .mdc-snackbar__surface {
        background: greenyellow;
      }
    }

    &.alert-error {
      .mdc-snackbar__surface {
        background: mat.get-color-from-palette($ang-CaBr2-warn);
      }
    }
  }
}

.theme-light {
  .mat-mdc-snack-bar-container {
    &.alert-info {
      .mdc-snackbar__label {
        color: black;
      }

      .mdc-snackbar__surface {
        background: cornflowerblue;
      }
    }

    &.alert-success {
      .mdc-snackbar__label {
        color: black !important;
      }

      .mdc-snackbar__surface {
        background: greenyellow;
      }
    }

    &.alert-error {
      .mdc-snackbar__label {
        color: black;
      }

      .mdc-snackbar__surface {
        background: mat.get-color-from-palette($ang-CaBr2-warn);
      }
    }
  }
}

@import '~@fontsource/roboto/index.css';
@import '~@fontsource/material-icons/index.css';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.border-margin-padding-rounded {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

@media print {
  mat-sidenav:not(.print) {
    display: none;
  }

  mat-sidenav-content > div:not(.print) {
    display: none;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.undragable {
  -webkit-user-drag: none;
}

.center-splashscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.splashscreen {
  height: 30vh;

  position: absolute;
  top: 50%;
  transform: translateY(100%);

  img {
    height: inherit;
  }
}

.mat-mdc-card {
  @include mat.elevation(0);
  margin-top: 10px;
  padding-bottom: 0;
}
