h1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dialog {
  width: 320px;
}

.title {
  margin-left: 10px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.error-message {
  white-space: pre-line;
  margin: 20px 0;
  font-weight: bold;
}
