@use '~@angular/material' as mat;
@import '../../../styles/color';

.flex {
  display: flex;
  flex-direction: row;
}

.width-100 {
  width: 100%;
}

.select {
  width: 10%;
  min-width: 150px;
  padding-right: 20px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  align-items: center;

  button {
    margin-right: 10px;
  }
}

.mat-icon-button:not(.add-button) {
  width: auto;
}

.margin-top-small {
  margin-top: 20px;
}

.margin-top {
  margin-top: 40px;
}

.margin-bottom-small {
  margin-bottom: 20px;
}

.margin-left-small {
  margin-left: 20px;
}

.editing-hint {
  color: mat.get-color-from-palette($ang-CaBr2-primary);
}

.source-column {
  max-width: 200px;
  min-width: 100px;
}

.button-column {
  max-width: 100px;
  min-width: 50px;
}

.buttons {
  justify-content: flex-end;
}

.edited-column {
  max-width: 100px;
  min-width: 50px;
}

.disclaimer {
  margin-top: 15px;
}
