<ng-container *transloco="let t">
  <mat-card class="onepager-mat-card">
    <mat-tab-group [(selectedIndex)]="index">
      <mat-tab *ngFor="let provider of providers" class="flex" [label]="provider.name">
        <div class="disclaimer" *ngIf="provider.identifier === 'gestis'"> <!-- TODO (#978) -->
          {{ t('search.disclaimer.' + provider.identifier) }}
        </div>
        <app-selected-search
          (triggerSearch)="openDialog(index)"
          [providerIdentifier]="provider.identifier"
          class="width-100"
        ></app-selected-search>
      </mat-tab>
    </mat-tab-group>
    <button class="button unselectable" mat-flat-button color="primary" (click)="openDialog(index)">
      {{ t('search.searchButton') }}
    </button>
    <mat-divider class="margin-top-small"></mat-divider>
    <div class="margin-bottom-small"></div>

    <div class="editing-hint margin-top margin-left-small">{{ t('substance.editingHint') }}</div>

    <div class="mat-elevation-z8 margin-top-small">
      <mat-table
        [dataSource]="dataSource"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="dataSource"
      >
        <ng-container matColumnDef="edited">
          <mat-header-cell *matHeaderCellDef [ngClass]="'edited-column'"> {{ t('substance.edited') }}</mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="'edited-column'">
            <span *ngIf="element.isModified" class="material-icons"> done </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> {{ t('substance.name') }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.name.modifiedData ? element.name.modifiedData : element.name.originalData }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cas">
          <mat-header-cell *matHeaderCellDef> {{ t('substance.casNumber') }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.cas.modifiedData ? element.cas.modifiedData : element.cas.originalData }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="source">
          <mat-header-cell *matHeaderCellDef [ngClass]="'buttons source-column'"></mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="'buttons source-column'">
            <button
              mat-raised-button
              color="primary"
              [disabled]="sourceButtonDisabled(element.source)"
              (click)="openSource($event, element.source)"
            >
              {{ getProviderName(element.source) }}
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef [ngClass]="'buttons button-column'"></mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="'buttons button-column'">
            <div class="action-buttons">
              <button mat-icon-button [matTooltip]="t('search.editSubstance')" matTooltipPosition="left">
                <span class="material-icons"> mode_edit </span>
              </button>
              <button
                mat-icon-button
                (click)="removeSubstance($event, element)"
                [matTooltip]="t('search.removeSubstance')"
                matTooltipPosition="left"
              >
                <span class="material-icons"> delete </span>
              </button>
              <span [matTooltip]="t('substance.dragAndDrop')" class="material-icons"> drag_handle </span>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

        <mat-row
          class="mat-option"
          *matRowDef="let row; columns: displayedColumns"
          (click)="openEditDialog(row)"
          [cdkDragData]="row"
          cdkDrag
          cdkDragLockAxis="y"
          cdkDragBoundary="mat-table"
        ></mat-row>
      </mat-table>
    </div>
    <div class="margin-top-small">
      <button
        mat-icon-button
        matTooltip="{{ t('substance.addCustomSubstanceData') }}"
        matTooltipPosition="right"
        (mouseenter)="addButtonHover = true"
        (mouseleave)="addButtonHover = false"
        (click)="addCustomSubstanceData()"
      >
        <mat-icon *ngIf="!addButtonHover"> add_circle_outline </mat-icon>
        <mat-icon color="primary" *ngIf="addButtonHover"> add_circle </mat-icon>
      </button>
    </div>
  </mat-card>
</ng-container>
