<ng-container *transloco="let t; read: 'descriptions'">
  <app-modifiable-string-list
    [title]="t('humanAndEnvironmentDanger')"
    [elements]="globals.humanAndEnvironmentDangerObservable"
    (elementEmitter)="globals.humanAndEnvironmentDangerSubject.next($event)"
  ></app-modifiable-string-list>
  <app-modifiable-string-list
    [title]="t('rulesOfConduct')"
    [elements]="globals.rulesOfConductObservable"
    (elementEmitter)="globals.rulesOfConductSubject.next($event)"
  ></app-modifiable-string-list>
  <app-modifiable-string-list
    [title]="t('inCaseOfDanger')"
    [elements]="globals.inCaseOfDangerObservable"
    (elementEmitter)="globals.inCaseOfDangerSubject.next($event)"
  ></app-modifiable-string-list>
  <app-modifiable-string-list
    [title]="t('disposal')"
    [elements]="globals.disposalObservable"
    (elementEmitter)="globals.disposalSubject.next($event)"
  ></app-modifiable-string-list>
</ng-container>
