@use '~@angular/material' as mat;

.fixed {
  position: fixed;
  // windoof -.-
  width: 72px;
  padding-left: 10px;
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh !important;
}

.down {
  margin-top: auto;
}

.version {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

.hamburger {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 50px;
  height: 50px;
  border-radius: 0;
}

.icon {
  margin-bottom: 8px;
  width: 50px;
  height: 50px;

  @include mat.elevation-transition;
  @include mat.elevation(1);

  &:hover {
    @include mat.elevation(5);
  }
}

.svg {
  margin: -9%;
}

.buttons {
  float: right;
  display: flex;
  margin-bottom: 16px;

  button {
    margin-right: 16px;
    padding: 5px 20px;
  }
}
