
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ang-CaBr2-primary: mat-palette($mat-orange);
$ang-CaBr2-accent: mat-palette($mat-indigo, A200, A100, A400);
// $ang-CaBr2-primary: #F39100;
// $ang-CaBr2-accent: #0061f3;

// The warn palette is optional (defaults to red).
$ang-CaBr2-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ang-CaBr2-theme: mat-light-theme((
  color: (
    primary: $ang-CaBr2-primary,
    accent: $ang-CaBr2-accent,
    warn: $ang-CaBr2-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ang-CaBr2-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.border-margin-padding-rounded {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 16px;
}

@media print {
  mat-sidenav:not(.print) {
    display: none;
  }

  mat-sidenav-content > div:not(.print) {
    display: none;
  }
}
