<mat-card class="onepager-mat-card">
  <div class="flex">
    <!-- TODO make this to one way databinding -->
    <app-selected-search (triggerSearch)="openDialog()" class="width-100"></app-selected-search>
  </div>
  <button class="button unselectable" mat-flat-button color="primary" (click)="openDialog()">{{ strings.search.search }}</button>
  <mat-divider class="divider"></mat-divider>
  <div class="margin-bottom"></div>

  <div class="mat-elevation-z8 margin-top">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name" [sticky]="true">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.name.modifiedData ? element.name.modifiedData : element.name.originalData }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cas" [sticky]="true">
        <mat-header-cell *matHeaderCellDef> CAS</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.cas.modifiedData ? element.cas.modifiedData : element.cas.originalData }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions" [sticky]="true">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="right">
            <button
              mat-raised-button
              color="primary"
              [disabled]="userUrlAvailable(element.source)"
              (click)="openSource($event, element.source)"
            >
              {{ element.source.provider }}
          </button>
            <button
              mat-icon-button
              (click)="removeSubstance($event, element)"
              [matTooltip]="strings.search.rmSubstance"
              matTooltipPosition="left"
            >
              <span class="material-icons"> delete </span>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

      <mat-row
        class="mat-option"
        *matRowDef="let row; columns: displayedColumns"
        (click)="openResultDialog(row)"
      ></mat-row>
    </mat-table>
  </div>
</mat-card>
