<mat-card class="onepager-mat-card">
  <h2 class="mat-h2 preview-text">
    <b>{{ strings.preview.info }}</b>
  </h2>
  <div class="flex">
    <table class="print unselectable">
      <!-- header -->
      <tr>
        <th colspan="8">{{ header.documentTitle }}</th>
      </tr>
      <tr>
        <th colspan="8">{{ header.organisation }}</th>
      </tr>
      <tr>
        <th colspan="8">{{ header.labCourse }}</th>
      </tr>
      <tr>
        <td colspan="3">
          {{ strings.header.name }}<br />
          {{ header.name }}
        </td>
        <td colspan="2">
          {{ strings.header.place }}<br />
          {{ header.place }}
        </td>
        <td colspan="3">
          {{ strings.header.assistant }}<br />
          {{ header.assistant }}
        </td>
      </tr>
      <tr>
        <td colspan="8">
          {{ strings.header.preparation }}<br />
          <b>{{ header.preparation }}</b>
        </td>
      </tr>

      <!-- ingredients -->
      <tr>
        <td colspan="2">{{ strings.preview.tableSubstanceTitleHeader }}</td>
        <td>{{ strings.preview.tableMolarMassHeader }}</td>
        <td>{{ strings.preview.tableBoilingAndMeltingHeader }}</td>
        <td>{{ strings.preview.tableGHSSymbolHeader }}</td>
        <td>{{ strings.preview.tableHPPhrasesHeader }}</td>
        <td>{{ strings.preview.tableMAKHeader }}</td>
        <td>{{ strings.preview.tableAmountHeader }}</td>
      </tr>

      <tr *ngFor="let data of substanceData">
        <td class="min-width-5cm" colspan="2">
          {{ data.name }}<br />
          <div class="padding-top-5px"><span [outerHTML]="data.molecularFormula | subMolecularFormula"></span></div>
        </td>
        <td class="min-width-2cm">{{ data.molarMass }}</td>
        <td class="min-width-2cm">{{ data.boilingPoint }}<br />{{ data.meltingPoint }}</td>
        <td>
          <img *ngFor="let symbol of data.symbols" [src]="sanitizeImage(symbol)" alt="{{ symbol }}" />
          <span class="signalword">{{ data.signalWord }}</span>
        </td>
        <td>{{ getPhraseNumber(data.hPhrases).join(', ') }}<br />{{ getPhraseNumber(data.pPhrases).join(', ') }}</td>
        <td>{{ data.mak }}<br>{{ data.waterHazardClass }}</td>
        <td>{{ data.amount?.value }} {{ data.amount?.unit }}</td>
      </tr>

      <!-- h and p -->
      <tr>
        <td class="center" colspan="8">{{ strings.preview.tableHPPhrasesTitle }}</td>
      </tr>
      <tr>
        <td colspan="4" class="full-height top">
          <div *ngFor="let phrase of getHPhrases()">
            {{ phrase }}
          </div>
        </td>
        <td colspan="4" class="full-height top">
          <div *ngFor="let phrase of getPPhrases()">
            {{ phrase }}
          </div>
        </td>
      </tr>
    </table>
    <table class="print unselectable">
      <tr>
        <td colspan="2" class="top height-5cm9">
          <b>{{ strings.descriptions.humanAndEnvironmentDanger }}</b>
          <ul *ngFor="let entry of globals.humanAndEnvironmentDangerObservable | async">
            <li *ngIf="entry">
              {{ entry }}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="top height-5cm9">
          <b>{{ strings.descriptions.rulesOfConduct }}</b>
          <ul *ngFor="let entry of globals.rulesOfConductObservable | async">
            <li *ngIf="entry">
              {{ entry }}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="top height-5cm9">
          <b>{{ strings.descriptions.inCaseOfDanger }}</b>
          <ul *ngFor="let entry of globals.inCaseOfDangerObservable | async">
            <li *ngIf="entry">
              {{ entry }}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="top height-5cm9">
          <b>{{ strings.descriptions.disposal }}</b>
          <ul *ngFor="let entry of globals.disposalObservable | async">
            <li *ngIf="entry">
              {{ entry }}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="top height-2cm">
          {{ strings.descriptions.signatureFieldStudent }}
        </td>
        <td class="top height-2cm">
          {{ strings.descriptions.signatureFieldAssistant }}
        </td>
      </tr>
    </table>
  </div>

  <!-- This is for testing purpose only by default the button is hidden -->
  <button style="display: none" onclick="window.print()">{{ strings.base.print }}</button>
</mat-card>
