<div class="border-margin-padding-rounded">
    <div class="flex">
        <table class="print">
            <!-- header -->
            <tr>
                <th colspan="8">{{header.documentTitle}}</th>
            </tr>
            <tr>
                <th colspan="8">{{header.organisation}}</th>
            </tr>
            <tr>
                <th colspan="8">{{header.labCourse}}</th>
            </tr>
            <tr>
                <td colspan="3">
                    Name(n)<br />
                    {{header.name}}
                </td>
                <td colspan="2">
                    Platz<br />
                    {{header.place}}
                </td>
                <td colspan="3">
                    Assistent/in<br />
                    {{header.assistant}}
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    Herzustellendes Präparat:<br />
                    <b>{{header.preparation}}</b>
                </td>
            </tr>

            <!-- ingredients -->
            <tr>
                <td colspan="2">
                    eingesetzte Stoffe und Produkt(e)
                </td>
                <td>
                    MG<br />
                    [g/mol]
                </td>
                <td>
                    Sdp.<br />
                    Smp.
                </td>
                <td>
                    GHS-Symbol(e)
                </td>
                <td>
                    Nummern der H/P-Sätze
                </td>
                <td>
                    MAK, LD50<br />
                    WGK
                </td>
                <td>
                    für Ansatz benötigt
                </td>
            </tr>

            <tr *ngFor="let result of searchResults">
                <td class="min-width-5cm" colspan="2">{{result}}</td>
                <td class="min-width-2cm">{{result}}</td>
                <td class="min-width-2cm">{{result}}</td>
                <td>{{result}}</td>
                <td>{{result}}</td>
                <td>{{result}}</td>
                <td>{{result}}</td>
            </tr>

            <!-- h and p -->
            <tr>
                <td class="center" colspan="8">
                    Wortlaut der wesentlichen oben genannten H- und P-Sätze:
                </td>
            </tr>
            <tr>
                <td colspan="4" class="full-height top">asdf</td>
                <td colspan="4" class="full-height top">asdf</td>
            </tr>
        </table>
        <table class="print">
            <tr>
                <td colspan="2" class="top height-5cm9">
                    <b>{{descriptions.humanAndEnvironmentDanger}}</b>
                    <ul *ngFor="let entry of humanAndEnvironmentDanger">
                        <li>
                            {{entry.content}}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="top height-5cm9">
                    <b>{{descriptions.rulesOfConduct}}</b>
                    <ul *ngFor="let entry of rulesOfConduct">
                        <li>
                            {{entry.content}}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="top height-5cm9">
                    <b>{{descriptions.inCaseOfDanger}}</b>
                    <ul *ngFor="let entry of inCaseOfDanger">
                        <li>
                            {{entry.content}}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="top height-5cm9">
                    <b>{{descriptions.disposal}}</b>
                    <ul *ngFor="let entry of disposal">
                        <li>
                            {{entry.content}}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="top height-2cm">
                    {{descriptions.signStudent}}
                </td>
                <td class="top height-2cm">
                    {{descriptions.signAssistant}}
                </td>
            </tr>
        </table>
    </div>
    <button onclick="window.print()">sf</button>
</div>
