<mat-card class="onepager-mat-card">
  <h2 class="mat-h2 preview-text">
    <b>{{ strings.preview.info }}</b>
  </h2>
  <div class="flex">
    <table class="unselectable">
      <!-- header -->
      <tr>
        <th colspan="8">{{ header.documentTitle }}</th>
      </tr>
      <tr>
        <th colspan="8">{{ header.organisation }}</th>
      </tr>
      <tr>
        <th colspan="8">{{ header.labCourse }}</th>
      </tr>
      <tr>
        <td colspan="3">
          {{ strings.header.name }}<br />
          {{ header.name }}
        </td>
        <td colspan="2">
          {{ strings.header.place }}<br />
          {{ header.place }}
        </td>
        <td colspan="3">
          {{ strings.header.assistant }}<br />
          {{ header.assistant }}
        </td>
      </tr>
      <tr>
        <td colspan="8">
          {{ strings.header.preparation }}<br />
          <b>{{ header.preparation }}</b>
        </td>
      </tr>

      <!-- ingredients -->
      <tr>
        <td colspan="2">{{ strings.preview.tableSubstanceTitleHeader }}</td>
        <td>{{ strings.preview.tableMolarMassHeader }}</td>
        <td>{{ strings.preview.tableBoilingAndMeltingHeader }}</td>
        <td>{{ strings.preview.tableGHSSymbolHeader }}</td>
        <td>{{ strings.preview.tableHPPhrasesHeader }}</td>
        <td>{{ strings.preview.tableMAKHeader }}</td>
        <td>{{ strings.preview.tableAmountHeader }}</td>
      </tr>

      <tr *ngFor="let data of substanceData">
        <td class="min-width-5cm" colspan="2">{{ data.name }}</td>
        <td class="min-width-2cm">{{ data.molarMass }}</td>
        <td class="min-width-2cm">{{ data.boilingPoint }} {{ data.meltingPoint }}</td>
        <td>{{ data.symbols }}</td>
        <td>{{ getPhraseNumber(data.hPhrases).join(' ') }} {{ getPhraseNumber(data.pPhrases).join(' ') }}</td>
        <td>{{ data.mak }}</td>
        <td>{{ data.amount?.value }} {{ data.amount?.unit }}</td>
      </tr>

      <!-- h and p -->
      <tr>
        <td class="center" colspan="8">{{ strings.preview.tableHPPhrasesTitle }}</td>
      </tr>
      <tr>
        <td colspan="4" class="full-height top">TODO</td>
        <td colspan="4" class="full-height top">TODO</td>
      </tr>
    </table>
    <table class="print unselectable">
      <tr>
        <td colspan="2" class="top height-5cm9">
          <b>{{ strings.descriptions.humanAndEnvironmentDanger }}</b>
          <ul *ngFor="let entry of globals.humanAndEnvironmentDangerObservable | async">
            <li *ngIf="entry">
              {{ entry }}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="top height-5cm9">
          <b>{{ strings.descriptions.rulesOfConduct }}</b>
          <ul *ngFor="let entry of globals.rulesOfConductObservable | async">
            <li *ngIf="entry">
              {{ entry }}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="top height-5cm9">
          <b>{{ strings.descriptions.inCaseOfDanger }}</b>
          <ul *ngFor="let entry of globals.inCaseOfDangerObservable | async">
            <li *ngIf="entry">
              {{ entry }}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="top height-5cm9">
          <b>{{ strings.descriptions.disposal }}</b>
          <ul *ngFor="let entry of globals.disposalObservable | async">
            <li *ngIf="entry">
              {{ entry }}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="top height-2cm">
          {{ strings.descriptions.signatureFieldStudent }}
        </td>
        <td class="top height-2cm">
          {{ strings.descriptions.signatureFieldAssistant }}
        </td>
      </tr>
    </table>
  </div>
  <div>
    <h3 class="mat-h3">{{strings.preview.sources}}:</h3>
    <p>
      {{getProviders()}}
    </p>
  </div>
</mat-card>
