<h2 mat-dialog-title>{{ strings.menu.settings }}</h2>
<form [formGroup]="form">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{ strings.settings.language }}</mat-label>
      <mat-select formControlName="language">
        <mat-option *ngFor="let language of languages" [value]="language.locale">
          {{ language.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-slide-toggle formControlName="theme" class="toggle" color="primary">{{
      strings.settings.darkModeSwitchInfo
    }}</mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <button (click)="dialogRef.close()" mat-button>
      {{strings.base.ok}}
    </button>
  </mat-dialog-actions>
</form>
